<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/mainLayout">
	<head>
		<meta charset="utf-8">
		<title>Congredu - Comissões</title>
	</head>
	<body>

		<div class="" layout:fragment="content">


		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li>O Evento<i class="icon-angle-right"></i></li>
							<li class="active">Comissões</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

<section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Comissão Organizadora</h3> <br>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../static/img/team-1.jpg" class="img-fluid" alt="" width="250" height="250">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Francisca Geny Lustosa</h4>
                  <span>UNIVERSIDADE FEDERAL DO CEARÁ</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="../static/img/team-2.jpg" class="img-fluid" alt="" width="250" height="250">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>UNIVERSIDADE ESTADUAL DA PARAÍBA</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../static/img/team-3.jpg" class="img-fluid" alt="" width="250" height="250">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>UNIVERSIDADE DA LUSOFONIA AFRO-BRASILEIRA</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../static/img/team-4.jpg" class="img-fluid" alt="" width="250" height="250">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>UNIVERSIDADE ESTADUAL DO CEARÁ</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <section id="content">
			<div class="container">
				<div class="row">

					<div class="col-lg-4">
            <div class="widget">
                        <h5 class="widgetheading">Comissão Científica e Avaliadora</h5> <br>
                        <ul class="cat">
                          <li><i class="fa fa-angle-right"></i>ABIGAIL FREGNI LINS - <span> UEPB</span></li>
                          <li><i class="fa fa-angle-right"></i>BEATRIZ CALAZANS DOUNIS - <span> SSEDF</span></li>
                          <li><i class="fa fa-angle-right"></i>CHRISTIANNE MEDEIROS - <span> UFRN</span></li>
                          <li><i class="fa fa-angle-right"></i>CINTHYA RAQUEL PIMENTEL DA MOTA - <span> UFPB</span></li>
                          <li><i class="fa fa-angle-right"></i>MARIA ZÉLIA ARAÚJO - <span> UNESC FACULDADES - FAC/CG</span></li>
                          <li><i class="fa fa-angle-right"></i>...<span> ...</span></li>
                        </ul>
              </div>

            </div>
            <center>
              <div>
                  <img src="../static/img/features-1.svg" class="img-fluid" alt="" width="450" height="300">
              </div>
            </center>
          </div>
        </div>
      </section>


		</div>
	</body>
</html>
