<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/mainLayout">
	<head>
		<meta charset="utf-8">
		<title>Congredu - Contato</title>
	</head>
	<body>

		<div class="" layout:fragment="content">


				<section id="inner-headline">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<ul class="breadcrumb">
									<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
									<li>Contato<i class="icon-angle-right"></i></li>

								</ul>
							</div>
						</div>
					</div>
				</section>

				<section id="content">
					<div class="container">
						<div class="row">

  		      </div>
  		    </div>
  		    
		    <div class="page-header--section text-center">

		    <div class="page--title pd--130-0 bg--img bg--overlay" style="padding: 150px 0px !important; background-image: url(&quot;../static/img/img9.png&quot;);" data-rjs="2">
		        <div class="container">
		            <br>
		        </div>
		    </div>


		</div>

		            <!-- insere arquivo de mensagens -->
		            <div class="container">




		            </div>

		            <!-- CORPO DA PAGINA -->

		<div class="section-full bg-white content-inner">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">

		                <!-- Contact Content Start -->
		                <div class="contact--content col-md-12 pb--20">
		                    <h2 class="contact--title h4">
		                        <div class="icon-content">
									<br>
									<br>
									<br>
		                            <h4 class="dlab-tilte">Informações de contato</h4>
		                                                    </div>
		                    </h2>

		                    <div class="row">
		                        <div class="col-sm-7">
		                            <p>Para lhe atender melhor, dispomos de vários canais de atendimento. Telefone, e-mail, presencial e pelas redes sociais. Caso tenha alguma dúvida, utilize qualquer um desses canais que teremos a maior satisfação em atendê-lo.</p>
		                                                    </div>

		                        <div class="col-sm-5">
		                            <ul>

										<p><img src="../static/img/icone3.png" style="width: 9%">    Rua Aristides Lobo, 331, Bairro: São José, Campina Grande - PB, CEP 58400-384</p>



		                                    <p><img src="../static/img/icone4.png" style="width: 9%">
		                                       contato@congredu.com.br</p>


		                                    <p><img src="../static/img/icone5.png" style="width: 9%">+055 83. 3322-3222</p>


		                                    <p> <img src="../static/img/icone6.png" style="width: 9%"> Atendimento: segunda a sexta (08:00 às 12:00 e de 13:00 às 17:00) <strong>(sábado e domingo - fechado)</strong></p>

		                            </ul>
		                        </div>
		                    </div>

		                    <div class="row p-t60">
		                        <div class="col-sm-12">
		                            <iframe style="width:100% !important;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2815.1407666895193!2d-38.48102596492477!3d-3.764367636562586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74603ee2a15a3%3A0x8d1efb0de23670ce!2sCentro+de+Eventos+do+Cear%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1548263768860" width="600" height="450" frameborder="0" allowfullscreen=""></iframe>                        </div>
		                    </div>

		                    
		                </div>
		                <!-- Contact Content End -->

		                <!-- Contact Form Start -->
		                <!--div class="contact--form col-md-4 pb--20" data-form="ajax">
		                    <h2 class="contact--title h4">
		                        <div class="icon-content">
		                            <h5 class="dlab-tilte">Envie um contato</h5>
		                                                    </div>
		                    </h2>

		                    <form action="sendmail.php" method="post" novalidate="novalidate">
		                        <div class="status"></div>

		                        <div class="form-group">
		                            <input type="text" name="name" class="form-control" placeholder="Nome" required="" aria-required="true">
		                        </div>

		                        <div class="form-group">
		                            <input type="email" name="email" class="form-control" placeholder="Endereço de e-mail" required="" aria-required="true">
		                        </div>

		                        <div class="form-group">
		                            <input type="text" name="subject" class="form-control" placeholder="Assunto" required="" aria-required="true">
		                        </div>

		                        <div class="form-group">
		                            <textarea name="message" class="form-control" placeholder="Deixe sua mensagem" required="" aria-required="true"></textarea>
		                        </div>

		                        <div class="form-group">
		                            <p style="color:red; font-weight:bold;">
		                            8 + 7 = ?                            </p>
		                            <input type="hidden" name="n1" value="8"></input>
		                            <input type="hidden" name="n2" value="7"></input>
		                            <input type="text" name="n3" class="form-control numerosInput" placeholder="Digite o resultado da operação" required aria-required="true">
		                        </div>

		                        <input type="hidden" name="submitType" value="ajax">

		                        <button type="submit" class="btn btn-default">Enviar mensagem</button>
		                    </form>
		                </div-->

		            </div>
		        </div>
		    </div>
		</div>


		<!-- Back To Top Button End -->

			<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
			<!-- javascript
		    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/modernizr.custom.js"></script>
			<script src="../static/js/jquery.easing.1.3.js"></script>
			<script src="../static/js/bootstrap.min.js"></script>
			<script src="../static/js/jquery.appear.js"></script>
			<script src="../static/js/stellar.js"></script>
			<script src="../static/js/classie.js"></script>
			<script src="../static/js/uisearch.js"></script>
			<script src="../static/js/jquery.cubeportfolio.min.js"></script>
			<script src="../static/js/google-code-prettify/prettify.js"></script>
			<script src="../static/js/animate.js"></script>
			<script src="../static/js/custom.js"></script>

		</div>
	</body>
</html>
