<!DOCTYPE html>
<html lang="en" dir="ltr"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/mainLayout">
<head>
<meta charset="utf-8">
<title>Congredu - Normas Anais</title>
</head>
<body>

	<div class="" layout:fragment="content">


		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="/"><i class="fa fa-home"></i></a><i
								class="icon-angle-right"></i></li>
							<li>Trabalhos<i class="icon-angle-right"></i></li>
							<li class="active">Normas para Anais</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section id="content">
			<div class="container">
				<div class="row"></div>
			</div>

			<div class="page-header--section text-center">

				<div class="page--title pd--130-0 bg--img bg--overlay"
					style="padding: 150px 0px !important; background-image: url(&quot;../static/img/normas.png&quot;);"
					data-rjs="2">
					<div class="container">
						<h1 class="h1"></h1>
					</div>
				</div>


			</div>

			<!-- CORPO DA PAGINA -->

			<style type="text/css">
.gradient:hover {
	cursor: pointer;
}
</style>

			<div class="section-full bg-white content-inner" style="">
				<div class="container">
					<div class="section-content">


						<div class="row">

							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<br>
								<br>
								<br>
								<div class="row max-w700 text-center m-auto">
									<div class="col-lg-12 col-md-12">
										<br> <br> <br> <br>
										<h3 class="font-weight-300 font-30">
											Pesquisa científica! Publique conosco.<br> O que você
											precisa saber antes de submeter seu trabalho.
										</h3>

									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
								<a href="modelos/MODELO_NORMA_5d7ab5e392758120920191817.docx"
									class="icon-cell" target="_blank"> <img
									src="../static/img/icone1.png">
								</a>


							</div>

							<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
								<a href="modelos/MODELO_NORMA_5d7ab5cadaf12120920191816.docx"
									class="icon-cell" target="_blank"> <img
									src="../static/img/icone2.png">
								</a>


							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="section-full">
				<div class="container-fluid">
					<div class="row dzseth">

						<div class="col-lg-6 col-md-12 col-sm-12 p-a0">
							<img src="../static/img/img3.png " alt="" class="img-cover"
								width="700" height="522">
						</div>

						<div
							class="col-lg-6 col-md-12 col-sm-12 bg-black-light p-lr0 dis-tbl"
							style="background-color: black;">
							<div class="p-a30 dis-tbl-cell">
								<div class="max-w500 m-auto p-tb30">
									<div class="row">
										<div class="col-lg-12 text-white">
											<br> <br> <br>
											<h2 class="font-weight-500" style="color: white;">Normas
												gerais</h2>
											<h5 class="font-weight-300 m-b30" style="color: white;">Submissão
												de trabalho totalmente online. Não perca tempo, submeta
												agora.</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 m-b30" style="color: white">
											<p>
												<em><strong>Autoria e submissão:</strong></em><br> <em>O
													autor principal submete o trabalho e indica os coautores;<br>
													Todos devem efetuar o pagamento.<br> É facultativo o
													pagamento do orientador. (O pagamento é obrigatório caso o
													mesmo queira figurar com coautor.)
												</em><br> <strong><em>Quantidade de
														trabalhos:&nbsp;&nbsp;</em></strong><br> <em>Trabalhos como
													autor principal:&nbsp;2 (dois);<br> Trabalhos como
													coautor:&nbsp;3 (três);<br> Participantes por
													trabalho:&nbsp;5 (cinco)&nbsp;incluindo autor, coautores e
													orientador.
												</em><br> <strong>Publicação e certificado:</strong><br>
												<em>&nbsp;Anais com ISSN publicado com todos os
													trabalhos aceitos;<br> Certificação dos trabalhos
													apresentados.
												</em><br> &nbsp;
											</p>
											<br> <span class="col-md-12 text-center"><a
												href="/cadastro" class="btn btn-info"
												style="margin-top: -5px" rel="modal:open" sec:authorize="!isAuthenticated()">Quero me
													cadastrar</a></span><br>
											<div id="5ddd1c7c58a83" class="modal"
												style="max-width: 800px;" data-wow-delay="2s">
												<a
													href="sistema/congressista/index.php?modulo=trabalho&amp;pagina=principal&amp;mvc=visao"
													target="_blank"
													class="btn btn-outline-primary active outline white">Quero
													enviar meu trabalho <i class="fa fa-long-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>


				<div class="section-full"
					style="padding-bottom: 40px !important; padding-top: 40px !important;">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center max-w600 m-auto ">

									<h2 class="font-weight-700 font-50">
										<strong>Ficou na dúvida de como<br> enviar seu
											trabalho?<br> Veja as normas e submeta.
										</strong>
									</h2>

								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="section-full content-inner"
					style="padding-bottom: 30px; padding-top: 0">
					<div class="container"
						style="background-color: rgb(220, 232, 235);">



						<div class="row about-timeline" style="padding: 50px 0 0 0;">


							<div class="col-lg-6 col-sm-12 m-b30">
								<div class="about-services p-a25">
									<div class="number text-primary aligncenter"
										style="font-size: 28px; font-weight: bold; width: auto; color: rgb(48, 134, 204)">
										Normas da Comunicação Oral</div>
									<br>

									<h4 class="m-t30">Normas da Comunicação Oral</h4>
									<p class="m-a0">
										<strong>Artigo Completo</strong><br> <br> <strong><em>Comunicação
												Oral: apenas pesquisas concluídas</em></strong><br> O autor deverá
										submeter na base da Área do Participante um resumo simples com
										um único parágrafo de 100 a 250 palavras, justificado,
										regular, tamanho 11, espaçamento simples sem referências
										bibliográficas, tabelas, gráficos, citações ou destaques de
										qualquer natureza. Nele devem constar: a síntese do trabalho,
										o referencial teórico-metodológico e os principais resultados.
										Este resumo deverá constar no arquivo a ser anexado com o
										artigo completo.<br> <strong>PÁGINA</strong><br>
										Utilizar folha com o timbrado do evento;<br> Mínimo de 08
										e máximo de 12 páginas;<br> <strong>MARGENS&nbsp;</strong><br>
										Esquerda e superior: 3,0 cm&nbsp;<br> Direita e inferior:
										2,0 cm<br> <strong>ESTRUTURA DO ARTIGO</strong><br>
										Fonte: Times New Roman<br> Título: negrito, tamanho 14,
										maiúsculas, alinhamento centralizado;<br> Resumo:
										parágrafo único de 100 a 250 palavras; Palavras-chave: 3
										(três) a 5 (cinco);<br> Texto: espaçamento 1,5 Tamanho da
										fonte: 12, Recuo de parágrafo de 1,25 cm a partir da margem
										esquerda.<br> Introdução (justificativa implícita e
										objetivos);<br> Metodologia;<br> Desenvolvimento (ou
										Referencial Teórico)<br> Resultados e Discussões (podendo
										inserir tabelas, gráficos ou figuras);&nbsp;<br>
										Considerações Finais (Conclusão).<br> <strong>REFERÊNCIAS&nbsp;</strong><br>
										Somente obras referenciadas, com alinhamento
										justificado.&nbsp;<br> Na lista de referências, entre uma
										referência e outra: 1.0 (espaço simples).<br> <br>
										&nbsp;
									</p>


									<div id="5ddd4236c77fd" class="modal" style="max-width: 800px;"
										data-wow-delay="2s">
										<h5>Normas da Comunicação Oral</h5>
										<p style="padding: 10px 0;">
											<strong>ARTIGO COMPLETO</strong><br> <br> <strong><em>Comunicação
													Oral: apenas pesquisas concluídas</em></strong><br> O autor deverá
											submeter na base da Área do Participante um resumo simples
											com um único parágrafo de 100 a 250 palavras, justificado,
											regular, tamanho 11, espaçamento simples sem referências
											bibliográficas, tabelas, gráficos, citações ou destaques de
											qualquer natureza. Nele devem constar: a síntese do trabalho,
											o referencial teórico-metodológico e os principais
											resultados. Este resumo deverá constar no arquivo a ser
											anexado com o artigo completo.<br> <br> <strong>Em
												todo o arquivo utilizar fonte Times New Roman</strong><br> <br>
											<strong>TÍTULO: </strong>fonte <strong>negrito,</strong>
											tamanho 14, maiúsculas, alinhamento centralizado. Deixar 01
											linha em branco. Inserir, em nota de rodapé, tamanho 11,
											quando o artigo for resultado de projeto de pesquisa, ensino
											ou extensão ou quando houver financiamento para indicar o
											órgão de fomento.<br> <br> <strong>Autores,
												coautores e vínculo:</strong> inserir o nome completo do autor, dos
											coautores e do orientador (quando for o caso) (Um por linha)
											apenas as iniciais em maiúsculas, alinhado à direita, tamanho
											12. Inserir vínculo institucional e e-mail de autores e
											coautores em nota de rodapé. Deixar 01 linha em branco.&nbsp;<br>
											<br> <strong>Resumo: </strong><strong>um único
												parágrafo de 100 a 250 palavras, </strong>justificado, regular,
											tamanho 11, espaçamento simples sem referências
											bibliográficas, tabelas, gráficos, citações ou destaques de
											qualquer natureza. Nele devem constar: a síntese do trabalho
											o referencial teórico-metodológico e os principais
											resultados.<strong> </strong><br> <br> <strong>Palavras-chave:
											</strong>adicionar entre <strong>três e cinco</strong>, separadas
											entre si por vírgula e finalizadas por ponto. Deixar 01 linha
											em branco.<br> <br> <strong>Artigo: </strong>deverá
											conter no mínimo 08 e no máximo 12 páginas, tamanho 12,
											utilizando formato A4, margens superior/esquerda 3,0 cm e
											inferior/direita 2,0 cm, parágrafo 1,25 cm, com espaçamento
											entre linhas 1,5 cm, contendo<strong> Introdução</strong>
											(justificativa implícita e objetivos), <strong>Metodologia</strong>,
											<strong>Desenvolvimento***</strong> (ou Referencial
											Teórico),&nbsp;<strong>Resultados</strong> e <strong>Discussão</strong>
											(podendo inserir tabelas, gráficos ou figuras), <strong>Considerações
												Finais</strong>, <strong>Agradecimentos</strong> (opcional) e <strong>Referências
											</strong><strong>de acordo com a ABNT</strong>.<br> <br> <strong>***O
												desenvolvimento, também conhecido como Referencial Teórico,
												pode vir nesta área ou anexo à introdução. Ele serve para
												situar o leitor quanto à linha de raciocínio teórico que o
												autor seguiu na construção de seu artigo.</strong><br> <br>
											<strong>Formato: </strong><strong>o arquivo deverá
												ser anexado no formato PDF, com tamanho máximo de 2MB. </strong>O uso
											do papel timbrado da edição atual do evento é obrigatório. O
											modelo é disponibilizado no site do evento para download.<br>
											<br> <strong>Atenção:</strong><br> Artigos que
											apresentam <strong>resultados de pesquisa de
												pós-graduação</strong> <em>stricto-sensu</em> (mestrado ou doutorado)
											devem ser <strong>escritos em coautoria com o
												professor orientador</strong>.<br> <br> As <strong>notas
												explicativas</strong> devem estar apresentadas em <strong>notas
												de rodapé</strong>, atendendo ao <strong>estritamente
												indispensável</strong>, inseridas automaticamente, tamanho 11.<br>
											<br> <strong>As referências</strong>, com todos os dados
											da obra citada, devem seguir as normas atuais e em vigor da
											ABNT.<br> <br> Para <strong>destaques no
												texto</strong>, preferir <strong>sublinhado</strong> (caso seja
											efetuado em citações, indicar que os grifos são do autor).
											Não deve ser utilizado o recurso de caixa alta / letras
											maiúsculas.<br> <br> Para <strong>termos
												estrangeiros</strong>, utilizar <strong>itálico</strong>; <strong>título
												de livros e título de periódicos</strong> devem estar em <strong>itálico</strong>;
											<em><strong>links</strong></em><strong> da internet</strong>
											devem ser citados conforme normas em vigor da ABNT.<br>
											<br> Sinalizar, sempre que for pertinente, a <strong>aprovação
												da pesquisa em comitês de ética </strong>e/ou equivalentes.<br>
											Atentar para o <strong>direito de uso de imagens</strong>
											utilizadas no pôster, sinalizando autoria, fonte, data e,
											quando necessária, a autorização para o uso.<br> Enviar
											artigos na <strong>norma culta da língua portuguesa</strong>,
											já devidamente <strong>revisados.</strong><br> &nbsp;
										</p>
										<a href="javascript:void(0)" class="jx-close-modal"
											rel="modal:close">Fechar</a>
									</div>

								</div>
							</div>

							<div class="col-lg-6 col-sm-12 m-b30">
								<div class="about-services p-a25">
									<div class="number text-primary aligncenter"
										style="font-size: 28px; font-weight: bold; width: auto; color: rgb(48, 134, 204)">
										Normas de Pôster</div>
									<br>

									<h4 class="m-t30">Normas de Pôster</h4>
									<p class="m-a0">
										<strong>Resumo Expandido</strong><br> <br> <strong><em>Pôster:
												pesquisas concluídas ou em andamento</em></strong><br> O autor deverá
										submeter na base da Área do Participante um resumo simples com
										um único parágrafo de 100 a 250 palavras, justificado,
										regular, tamanho 11, espaçamento simples sem referências
										bibliográficas, tabelas, gráficos, citações ou destaques de
										qualquer natureza. Nele devem constar: a síntese do trabalho,
										o referencial teórico-metodológico e os principais resultados.
										Este resumo não deverá constar no arquivo a ser anexado com o
										resumo expandido.<br> <strong>PÁGINA</strong><br>
										Utilizar folha com o timbrado do evento;<br> Mínimo de 04
										e máximo de 06 páginas;<br> <strong>MARGENS</strong>&nbsp;<br>
										Esquerda e superior: 3,0 cm&nbsp;<br> Direita e inferior:
										2,0 cm<br> <strong>ESTRUTURA DO RESUMO EXPANDIDO</strong><br>
										Fonte: Times New Roman<br> Título: negrito, tamanho 14,
										maiúsculas, alinhamento centralizado;<br> Texto:
										espaçamento simples, Tamanho da fonte: 12, Recuo de parágrafo
										de 1,25 cm a partir da margem esquerda.<br> Introdução
										(justificativa implícita e objetivos);<br> Metodologia;<br>
										Desenvolvimento (ou Referencial Teórico).<br> Resultados
										e Discussões (não usar tabelas, gráficos ou figuras);&nbsp;<br>
										Considerações Finais (Conclusão).<br> <strong>REFERÊNCIAS&nbsp;</strong><br>
										Somente obras referenciadas, com alinhamento
										justificado.&nbsp;<br> Na lista de referências, entre uma
										referência e outra: 1.0 (espaço simples).<br> &nbsp;
									</p>

									<div id="5ddd4236c786c" class="modal" style="max-width: 800px;"
										data-wow-delay="2s">
										<h5>Normas de Pôster</h5>
										<p style="padding: 10px 0;">
											<strong>RESUMO EXPANDIDO</strong><br> <br> <strong><em>Pôster:
													pesquisas concluídas ou em andamento</em></strong><br> O autor
											deverá submeter na base da Área do Participante um resumo
											simples com um único parágrafo de 100 a 250 palavras,
											justificado, regular, tamanho 11, espaçamento simples sem
											referências bibliográficas, tabelas, gráficos, citações ou
											destaques de qualquer natureza. Nele devem constar: a síntese
											do trabalho, o referencial teórico-metodológico e os
											principais resultados. Este resumo não deverá constar no
											arquivo a ser anexado com o resumo expandido.<br> <br>
											<strong>Em todo o arquivo utilizar fonte Times New
												Roman</strong><br> <strong>TÍTULO: </strong>fonte <strong>negrito,</strong>
											tamanho 14, maiúsculas, alinhamento centralizado. Deixar 01
											linha em branco. Inserir, em nota de rodapé, tamanho 11,
											quando o artigo for resultado de projeto de pesquisa, ensino
											ou extensão ou quando houver financiamento para indicar o
											órgão de fomento.<br> <br> <strong>Autores,
												coautores e vínculo:</strong> inserir o nome completo do autor, dos
											coautores e do orientador (quando for o caso) (Um por linha)
											apenas as iniciais em maiúsculas, alinhado à direita, tamanho
											12. Inserir vínculo institucional e e-mail de autores e
											coautores em nota de rodapé, tamanho 11. Deixar 01 linha em
											branco.&nbsp;<br> <br> <strong>Resumo
												Expandido:</strong> deverá conter no mínimo 4 e no máximo 6 páginas,
											texto justificado, regular, fonte tamanho 12, utilizando
											formato A4, margens superior/esquerda 3,0 cm e
											inferior/direita 2,0 cm, com espaçamento simples entre
											linhas, sintetizando a <strong>Introdução,</strong>&nbsp;<strong>o
												Desenvolvimento (ou referencial teórico), </strong>o<strong>
												objeto de estudo</strong>, a <strong>metodologia, </strong>os <strong>resultados
												e as considerações finais</strong>. Não deverá utilizar tabelas,
											gráficos, fotos ou qualquer outro formato de imagem ou de
											fórmulas (se necessário, as mesmas podem ser descritas por
											extenso).<br> <br> <strong>***O
												desenvolvimento, também conhecido como Referencial Teórico,
												pode vir nesta área ou anexo à introdução. Ele serve para
												situar o leitor quanto à linha de raciocínio teórico que o
												autor seguiu na construção de seu artigo.</strong><br> <br>
											<strong>Palavras-chave: </strong>adicionar entre três e
											cinco, separadas entre si por vírgula e finalizadas por
											ponto. Deixar 01 linha em branco.<br> <strong>Referências:
											</strong>apresentar apenas as referências utilizadas no resumo
											expandido.<br> <strong>Agradecimentos:</strong> De
											caráter opcional.<br> <strong>Formato: </strong><strong>o
												arquivo deverá ser anexado no formato PDF, com tamanho
												máximo de 2MB. </strong>O uso do papel timbrado da edição atual do
											evento é obrigatório. O modelo é disponibilizado no site do
											evento para download.<br> <br> <strong>Atenção:</strong><br>
											Resumos expandidos que apresentam <strong>resultados
												de pesquisa de pós-graduação</strong> <em>stricto-sensu</em>
											(mestrado ou doutorado) devem ser <strong>escritos
												em coautoria com o professor orientador</strong>.<br> <br>
											As <strong>notas explicativas</strong> devem estar
											apresentadas em <strong>notas de rodapé</strong>, atendendo
											ao <strong>estritamente indispensável</strong>, inseridas
											automaticamente, tamanho 11.<br> <br> <strong>As
												referências</strong>, com todos os dados da obra citada, devem seguir
											as normas atuais e em vigor da ABNT.<br> <br> Para
											<strong>destaques no texto</strong>, preferir <strong>sublinhado</strong>
											(caso seja efetuado em citações, indicar que os grifos são do
											autor). Não deve ser utilizado o recurso de caixa alta /
											letras maiúsculas.<br> <br> Para <strong>termos
												estrangeiros</strong>, utilizar <strong>itálico</strong>; <strong>título
												de livros e título de periódicos</strong> devem estar em <strong>itálico</strong>;
											<em><strong>links</strong></em><strong> da internet</strong>
											devem ser citados conforme normas em vigor da ABNT.<br>
											<br> Sinalizar, sempre que for pertinente, a <strong>aprovação
												da pesquisa em comitês de ética </strong>e/ou equivalentes.<br>
											Enviar artigos na <strong>norma culta da língua
												portuguesa</strong>, já devidamente <strong>revisados.</strong><br>
											As <strong>tabelas, gráficos, fotos</strong> ou qualquer
											outro formato de imagem ou de fórmulas <strong>poderão
												ser apresentadas na elaboração do banner</strong> <strong>para
												apresentação</strong> durante o evento.<br> Atentar para o <strong>direito
												de uso de imagens</strong> utilizadas apenas no banner para
											apresentação, sinalizando autoria, fonte, data e, quando
											necessária, a autorização para o uso.
										</p>
										<a href="javascript:void(0)" class="jx-close-modal"
											rel="modal:close">Fechar</a>
									</div>

								</div>
							</div>

						</div>

						<div style="clear: both"></div>


					</div>
				</div>

				<style type="text/css">
.font-16 {
	font-size: 16px;
}
</style>

				<!-- Portfolio Projects -->
				<div class="container marginbot50">
					<div class="row">
						<div class="col-lg-12">
							<center>
								<h4 class="heading">Fique por dentro! Algumas datas
									importantes.</h4>
							</center>

							<div id="grid-container" class="cbp-l-grid-projects">
								<ul>
									<li class="cbp-item graphic">
										<div class="cbp-caption">
											<div class="cbp-caption-defaultWrap">
												<center>
													<img src="../static/img/works/1.jpg" alt="" />
												</center>
											</div>
										</div>
										<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE
												SUBMISSÃO DE TRABALHOS</div>
											<div class="cbp-l-grid-projects-desc">26 de setembro de
												2019</div>
										</center>
									</li>
									<li class="cbp-item web-design logo">
										<div class="cbp-caption">
											<div class="cbp-caption-defaultWrap">
												<img src="../static/img/works/2.jpg" alt="" />
											</div>
										</div>
										<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE
												DIVULGAÇÃO DE TRABALHOS</div>
											<div class="cbp-l-grid-projects-desc">08 de outubro de
												2019</div>
										</center>
									</li>
									<li class="cbp-item graphic logo">
										<div class="cbp-caption">
											<div class="cbp-caption-defaultWrap">
												<img src="../static/img/works/3.jpg" alt="" />
											</div>
										</div>
										<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE
												SUBMISSÃO DE E-BOOK</div>
											<div class="cbp-l-grid-projects-desc">01 de outubro de
												2019</div>
										</center>
									</li>
									<li class="cbp-item web-design graphic">
										<div class="cbp-caption">
											<div class="cbp-caption-defaultWrap">
												<img src="../static/img/works/4.jpg" alt="" />
											</div>
										</div>
										<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE
												PAGAMENTO DE INSCRIÇÃO</div>
											<div class="cbp-l-grid-projects-desc">14 de outubro de
												2019</div>
										</center>
									</li>
									<li class="cbp-item identity web-design">
										<div class="cbp-caption">
											<div class="cbp-caption-defaultWrap">
												<img src="../static/img/works/5.jpg" alt="" />
											</div>
										</div>
										<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE
												INSCRIÇÃO PARA MONITORIA</div>
											<div class="cbp-l-grid-projects-desc">27 de março de
												2019</div>
										</center>
									</li>
									<li class="cbp-item identity web-design">
										<div class="cbp-caption">
											<div class="cbp-caption-defaultWrap">
												<img src="../static/img/works/6.jpg" alt="" />
											</div>
										</div>
										<center>
											<div class="cbp-l-grid-projects-title">PRAZO PARA ENVIO
												DE TRABALHOS AVALIADOS COMO "CORREÇÃO"</div>
											<div class="cbp-l-grid-projects-desc">26 de setembro de
												2019</div>
										</center>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<div class="section-full"
					style="padding-top: 0; padding-bottom: 50px;">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 text-white text-center">
								<a href="#"> <img
									src="../static/img/img4.jpg" class="img-fluid">
								</a>
							</div>
						</div>
					</div>
				</div>


				<!-- Footer Section Start -->


				<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
				<!-- javascript
    ================================================== -->
				<!-- Placed at the end of the document so the pages load faster -->
				<script src="../static/js/jquery.min.js"></script>
				<script src="../static/js/modernizr.custom.js"></script>
				<script src="../static/js/jquery.easing.1.3.js"></script>
				<script src="../static/js/bootstrap.min.js"></script>
				<script src="../static/js/jquery.appear.js"></script>
				<script src="../static/js/stellar.js"></script>
				<script src="../static/js/classie.js"></script>
				<script src="../static/js/uisearch.js"></script>
				<script src="../static/js/jquery.cubeportfolio.min.js"></script>
				<script src="../static/js/google-code-prettify/prettify.js"></script>
				<script src="../static/js/animate.js"></script>
				<script src="../static/js/custom.js"></script>

			</div>
</body>
</html>
