<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/mainLayout">
	<head>
		<meta charset="utf-8">
		<title>Congredu - Normas Ebook</title>
	</head>
	<body>

		<div class="" layout:fragment="content">


		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li>Trabalhos<i class="icon-angle-right"></i></li>
							<li class="active">Normas para Ebook</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section id="content">
			<div class="container">
				<div class="row">

    </div>
</div>

    <div class="page-header--section text-center">

    <div class="page--title pd--130-0 bg--img bg--overlay" style="padding: 150px 0px !important; background-image: url(&quot;../static/img/img6.png&quot;);" data-rjs="2">
        <div class="container">
            <h1 class="h1"></h1>
        </div>
    </div>


</div>

    <!-- insere arquivo de mensagens -->
    <div class="container">




    </div>

    <!-- CORPO DA PAGINA -->

<style type="text/css">
    .widget-custom{
        background-color: #f2f2f;
    }
</style>

<div class="section-full content-inner-2">

    <div class="container">
        <div class="section-head text-black text-center">
            <h4 class="text-gray-dark font-weight-300 m-b10"></h4>
            <h2 class="title-box m-tb0" style="color: black;"><b>Normas para E-book</b> <span class="bg-primary"></span></h2>
            <p>Seleção de artigos para publicação em e-book</p>
        </div>
    </div>

    <div class="content-area p-b60" style="padding-top: 0">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-12">
                        <div class="about-services p-a25">

        <h4 class="m-t30">Normas de E-book</h4>
        <p class="m-a0">I - As submissões de artigos para o e-book deverão ser realizadas a partir de&nbsp;<strong>15 de março de 2019 até 01 de Outubro de 2019</strong>.<br>
II - O artigo deverá constar de 1 autor e no máximo 3 coautores&nbsp;(incluindo orientador).<br>
III - Aptos à submissão de e-book como autor principal: Mestrandos, Mestres, Doutorandos e Doutores. Os coautores poderão ser indicados a partir de&nbsp;alunos de Graduação.<br>
<br>
<strong>Artigo</strong><br>
O autor deverá submeter na base da Área do Participante um resumo simples com um único parágrafo de 100 a 250 palavras, justificado, regular, tamanho 11, espaçamento simples sem referências bibliográficas, tabelas, gráficos, citações ou destaques de qualquer natureza. Nele devem constar: a síntese do trabalho, o referencial teórico-metodológico e os principais resultados. Este resumo deverá constar no arquivo a ser anexado com o artigo completo.<br>
<br>
<strong>PÁGINA</strong><br>
Utilizar folha com o timbrado do evento;<br>
Mínimo de 15 e máximo de 20 páginas;<br>
<strong>MARGENS&nbsp;</strong><br>
Esquerda e superior: 3,0 cm&nbsp;<br>
Direita e inferior: 2,0 cm<br>
<strong>ESTRUTURA DO ARTIGO</strong><br>
Fonte: Times New Roman<br>
Título: negrito, tamanho 14, maiúsculas, alinhamento centralizado;<br>
Resumo: parágrafo único de 100 a 250 palavras; Palavras-chave: 3 (três) a 5 (cinco);<br>
Texto: espaçamento 1,5 Tamanho da fonte: 12, Recuo de parágrafo de 1,25 cm a partir da margem esquerda.<br>
a) Introdução (justificativa implícita e objetivos);<br>
b) Metodologia;<br>
c) Resultados e Discussões (podendo inserir tabelas, gráficos ou figuras);&nbsp;<br>
d) Considerações Finais (Conclusão).<br>
<strong>REFERÊNCIAS&nbsp;</strong><br>
Somente obras referenciadas, com alinhamento justificado.&nbsp;<br>
Na lista de referências, entre uma referência e outra: 1.0 (espaço simples).</p>



        <div id="5ddd1c7c58a83" class="modal" style="max-width: 800px;" data-wow-delay="2s">
            <h5>Normas de E-book</h5>
            <p style="padding: 10px 0;"><strong>Seleção de artigos para publicação em e-book </strong><br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A Coordenação Geral do <strong>Congresso Nacional de Educação</strong> faz saber que está aberto o período para o envio de artigos para a composição do e-book&nbsp;<strong>Avaliação: Políticas e Práticas</strong><strong>.</strong> Os interessados em participar da publicação, que possuam titulação de Mestre ou Doutor ou que sejam mestrandos ou doutorandos podem se inscrever observando as diretrizes para os autores.<br>
<br>
1 -&nbsp;As submissões de artigos para o e-book deverão ser realizadas a partir de <strong>15 de março de 2019 até 01 de Outubro</strong>. O interessado deverá estar cadastrado na Área do Participante do evento, informando os dados pessoais e de titulação para posterior utilização na publicação.&nbsp;<br>
2 - Somente irão compor a publicação do e-book os artigos aceitos com o pagamento da taxa de inscrição concluída na sexta edição do <strong>Congresso Nacional de Educação</strong>, efetuado no período das chamadas de pagamento, disponível em http://www.congredu.com.br.<br>
3 - O pagamento da taxa de inscrição é obrigatório para autores e coautores. Não serão publicados artigos que não atendam à especificação de pagamento da taxa de inscrição.<br>
4 - Os artigos devem apresentar discussões que se aproximem das temáticas da edição atual do evento e das relacionadas às Áreas Temáticas. Disponível em: http://www.congredu.com.br/area-tematica.php.<br>
5 - O autor deve sinalizar no artigo caso este faça referência à publicação anterior.<br>
6 - O artigo deverá constar de 1 autor e no máximo 3 coautores&nbsp;(incluindo orientador).<br>
6.1 - Aptos à submissão de e-book como autor principal: Mestrandos, Mestres, Doutorandos e Doutores. Os coautores poderão ser indicados a partir de&nbsp;alunos de Graduação.<br>
7 - Nos artigos que apresentarem resultado de pesquisa coletiva, os demais autores devem configurar entre os coautores, assim como o orientador, sendo obrigatório o cadastro de todos na Área do Participante, atendendo ao item 3 desse Edital.<br>
8 -&nbsp;O e-book Avaliação: Políticas e Práticas organizado por Paula Almeida de Castro é uma publicação da Realize Editora com Comitê Editorial composto por professores doutores de saber relevante nas áreas abordadas.<br>
9 - Cabe ao Comitê Editorial a avaliação, seleção dos artigos que irão compor a publicação em e-book e solicitação de ajustes aos autores, quando necessário. Os autores serão informados por e-mail e ficará disponível na área do participante caso haja alguma necessidade de alteração.&nbsp;&nbsp;<br>
10 - A publicação está prevista para o primeiro semestre de 2020 e ficará disponível para consulta e download no site do evento e na revista eletrônica da Realize Editora.<br>
11 - A seleção dos artigos levará em conta o atendimento aos critérios de relevância acadêmica das temáticas apresentadas, bem como estarem de acordo com as Diretrizes para Autores, indicados ao final desse documento.<br>
12 - Os artigos que não estiverem de acordo com as Diretrizes para Autores serão retirados automaticamente da avaliação, bem como aqueles que não apresentarem prévia revisão da norma culta da língua portuguesa.<br>
13 - Somente serão avaliados os artigos que seguirem as Diretrizes para Autores abaixo indicadas.<br>
14 - Trabalhos enviados para publicação em e-book não contarão com apresentação na sexta edição do <strong>Congresso Nacional de Educação</strong>.<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Diretrizes para Autores</strong><br>
<br>
Observação: <strong>Todo o documento deve ser digitado na fonte Times New Roman</strong><br>
<br>
<strong>Título: </strong>fonte <strong>negrito,</strong> tamanho 14, maiúsculas, alinhamento centralizado. Deixar 01 linha em branco. Inserir, em nota de rodapé, tamanho 10, quando o artigo for resultado de projeto de pesquisa, ensino ou extensão ou quando houver financiamento para indicar o órgão de fomento.<br>
<br>
<strong>Autores, coautores e vínculo:</strong> inserir o nome completo do autor, dos coautores e do orientador (quando for o caso) (um por linha) apenas as iniciais em maiúsculas, alinhado à direita, tamanho 12. Inserir vínculo institucional e e-mail de autores e coautores em nota de rodapé, tamanho 10. Deixar 01 linha em branco.&nbsp;<br>
<br>
<strong>Formato: o arquivo deverá ser anexado no&nbsp;</strong><strong>formato PDF, com tamanho máximo de 2MB.&nbsp;</strong>O uso do papel timbrado da edição atual do evento é obrigatório. O modelo é disponibilizado no site do evento para download.<br>
Se houver <strong>ilustrações</strong>, deverão ser identificadas com título ou legenda centralizados, tamanho 11; e designadas, no texto, de forma abreviada, como figura (Fig.1, Fig.2, etc.).<br>
<br>
Atentar para o <strong>direito de uso de imagens</strong> eventualmente utilizadas no artigo, sinalizando autoria, fonte, data e, quando necessária, a autorização para o uso.<br>
<strong>Artigo: </strong>deverá conter no mínimo 15 e no máximo 20 páginas, fonte tamanho 12, utilizando formato A4, margens superior/esquerda 3,0 cm e inferior/direita 2,0 cm, parágrafo 1,25 cm, com espaçamento 1,5 cm entre linhas, contendo<strong> Introdução</strong> (justificativa implícita e objetivos), <strong>Metodologia</strong>, <strong>Resultados</strong> e <strong>Discussão</strong> (podendo inserir tabelas, gráficos ou figuras), <strong>Considerações finais</strong>, <strong>Agradecimentos</strong> (caráter opcional) e <strong>Referências </strong><strong>de acordo com a ABNT</strong>.<br>
Artigos que apresentam <strong>resultados de pesquisa de pós-graduação</strong> <em>stricto sensu</em> (mestrado ou doutorado) devem ser <strong>escritos em coautoria com o professor orientador</strong> da pesquisa, constituindo-se esta uma condição para publicação.<br>
<br>
Sinalizar, sempre que for pertinente, a <strong>aprovação da pesquisa em comitês de ética </strong>e/ou equivalentes.<br>
<br>
<strong>Citações com mais de três linhas</strong>, devem vir com recuo de 4 cm, espaço simples, alinhamento justificado e fonte tamanho 11.<br>
<br>
<strong>Citações bibliográficas, no corpo do texto</strong>, entre parênteses, com os seguintes dados, separados por vírgula: sobrenome do autor em caixa alta; data da publicação; abreviatura de página (p.) e o número desta (Ex.: SILVA, 1992, p. 3-23).<br>
<br>
As <strong>notas explicativas</strong> devem estar apresentadas em <strong>notas de rodapé</strong>, atendendo ao <strong>estritamente indispensável</strong>, inseridas automaticamente, tamanho 11.<br>
<br>
Para <strong>destaques no texto</strong>, preferir <strong>sublinhado</strong> (caso seja efetuado em citações, indicar que os grifos são do autor). Não deve ser utilizado o recurso de caixa alta / letras maiúsculas.<br>
<br>
Para <strong>termos estrangeiros</strong>, utilizar <em>itálico</em>; título de livros e <strong>títulos de periódicos</strong> devem estar em <em>itálico</em> ou <strong>negrito</strong>; <em><strong>links</strong></em><strong> da internet</strong> devem ser citados conforme normas em vigor da ABNT.<br>
<br>
<strong>As referências</strong>, com todos os dados da obra citada, devem seguir as normas atuais e em vigor da ABNT.<br>
&nbsp;</p>
            <a href="javascript:void(0)" class="jx-close-modal" rel="modal:close">Fechar</a>
        </div>
    </div>

                </div>

                <div class="col-lg-4 col-md-4 sticky-top">
                    <aside class="side-bar">

                        <div class="row">


                                <div class="row" style="padding-top: 20px">
        <div class="col-lg-12">
            <div class="icon-bx-realize-wraper bx-style-2 m-t40 m-b30 p-a30 center">
                <div class="icon-bx-realize-sm bg-primary m-b20">
                    <i class="ti-announcement"></i>
                </div>
                <div class="icon-content p-t40 aligncenter">
					<img src="../static/img/img7.png" style="width: 20% aligncenter">
                    <h5 class="dlab-tilte text-uppercase aligncenter">Prazo de Submissão de E-book</h5>
                    <p class="font-16"><span style="text-decoration:line-through;font-style:italic">01 de outubro de 2019</span></p>
                </div>
            </div>
        </div>
    </div>


                                <div class="col-md-12 p-t30">
        <img src="../static/img/img5.jpg" style="width: 100%">
    </div>

                                <div class="post card-container col-md-12 p-30">
        <div class="widget widget-newslatter widget-custom p-a20">
			 <span class="col-md-12 text-center"><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiDvdSCm4HvAhUhIbkGHVsdDJEQFjAFegQICBAD&url=https%3A%2F%2Fwww.gov.br%2Fana%2Fpt-br%2Ftodos-os-documentos-do-portal%2Fdoc-modelo.pdf%2F%40%40download%2Ffile%2Fdoc-modelo.pdf&usg=AOvVaw3_Kpr3tSL7DWigZVnv4Kyz" class="btn btn-info" style="margin-top: -5px" rel="modal:open">Baixe o modelo</a></span><br>
        <div id="5ddd1c7c58a83" class="modal" style="max-width: 800px;" data-wow-delay="2s">
            <a href="modelos/5cab7e8a0e3d2_08042019_140202.docx" class="realize-button btn-block gray radius-no" target="_blank">
                Baixe o modelo            </a>


        </div>
    </div>

                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>

</div>



<!-- Call To Action Section Start -->
<div class="cta--section bg--color-darkgray" id="idsubrodape" style="margin-top: 10px">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Call To Action Content Start -->
                <div class="cta--content">
                    <h2 class="h3">VI CONGRESSO NACIONAL DE EDUCAÇÃO</h2>

                    <p>Avaliação: Processos e Políticas</p>
                </div>
                <!-- Call To Action Content Start -->
            </div>

            <div class="col-md-3">
                <!-- Call To Action Button Start -->
                <div class="cta--btn">
                    <a href="/cadastro" class="btn btn-default" style="margin-top: 38px;" sec:authorize="!isAuthenticated()">Inscreva-se</a>
                </div>
                <!-- Call To Action Button Start -->
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Section End -->


	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/modernizr.custom.js"></script>
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.appear.js"></script>
	<script src="../static/js/stellar.js"></script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/uisearch.js"></script>
	<script src="../static/js/jquery.cubeportfolio.min.js"></script>
	<script src="../static/js/google-code-prettify/prettify.js"></script>
	<script src="../static/js/animate.js"></script>
	<script src="../static/js/custom.js"></script>


		</div>
	</body>
</html>
