<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/mainLayout">
	<head>
		<meta charset="utf-8">
		
		<title>Congredu</title>
	</head>
	<body>
		
		<div class="" layout:fragment="content">

				<script th:inline="javascript">
					/*<![CDATA[*/
					var msg = /*[[${msg}]]*/ 'default';
					if(msg){
						alert(msg);
					}
									
					/*]]>*/
				</script>
				<!-- end header -->
				<section id="featured" class="bg">
					<!-- start slider -->


					<!-- start slider -->
					<div class="">
						<div class="row">
							<div class="col-lg-12">
								<!-- Slider -->
								<div id="main-slider" class="main-slider flexslider">
									<ul class="slides">
										<li>
											<img src="../static/img/slides/flexslider/logofinal.png" alt="" height="390"/>
										</li>
									</ul>
								</div>
								<!-- end slider -->
							</div>
						</div>
					</div>

				<section id="content">

					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-sm-3 col-md-3 col-lg-3">
										<div class="box">
											<div class="aligncenter">
												<div class="icon">
													<i class="fa fa-desktop fa-5x"></i>
												</div>
												<h4><b>Trabalhos científicos</b></h4>
												<p>O VI Congredu tem como produto acadêmico a publicação de artigos com ISSN em Anais eletrônicos, e, ISBN em E-book. Publique sua pesquisa conosco!</p>
											</div>
										</div>
									</div>
									<div class="col-sm-3 col-md-3 col-lg-3">
										<div class="box">
											<div class="aligncenter">
												<div class="icon">
													<a href="http://Congredu.com.br/hospedagem.php"><i class="fa fa-paper-plane-o fa-5x"></i></a>
												</div>
												<h4><b>Hospedagem</b></h4>
												<p><a href="http://Congredu.com.br/hospedagem.php">Já conhece Fortaleza? Clica e confere as indicações de hospedagem!</a></p>
											</div>
										</div>
									</div>
									<div class="col-sm-3 col-md-3 col-lg-3">
										<div class="box">
											<div class="aligncenter">
												<div class="icon">
													<i class="fa fa-cubes fa-5x"></i>
												</div>
												<h4><b>Concurso Congredu na Escola</b></h4>
												<p>Você atua em uma escola de educação básica? Participe conosco do Concurso Congredu na Escola. Clique aqui e veja o regulamento!</p>
											</div>
										</div>
									</div>
									<div class="col-sm-3 col-md-3 col-lg-3">
										<div class="box">
											<div class="aligncenter">
												<div class="icon">
													<i class="fa fa-file-code-o fa-5x"></i>
												</div>
												<h4><b>Confira a programação</b></h4>
												<p>O Congredu permite sua atualização através de atividades com temas relevantes e o contato com pessoas de outras instituições. Clique aqui e confira nossa programação!</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- divider -->
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="">
								</div>
							</div>
						</div>
					</div>
					<!-- end divider -->

					<section id="featured" class="bg">
						<!-- start slider -->


						<!-- start slider -->
						<div class="">
							<div class="row">
								<div class="col-lg-12">
									<!-- Slider -->
									<div id="main-slider" class="main-slider flexslider">
										<ul class="slides">
											<li>
												<img src="../static/img/slides/flexslider/2.jpg" alt="" height="375"/>
											</li>
											<li>
												<img src="../static/img/PLAY-TEMS_CAP_SERIE_LIVRO-ABERTO.png" alt="" height="375"/>
											</li>
										</ul>
									</div>
									<!-- end slider -->
								</div>
							</div>
						</div>

					<!-- divider -->
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="blankline">
								</div>
							</div>
						</div>
					</div>
					<!-- end divider -->

					<section id="pricing" class="wow fadeInUp section-bg">

						<div class="container">

						  <header class="section-header">
							<h3>Garanta sua participação agora! </h3>
							<p>Estamos na 3ª chamada, ela vai durar até 16 de setembro de 2019</p>
						  </header>

						  <div class="row flex-items-xs-middle flex-items-xs-center">

							<!-- Basic Plan  -->
							<div class="col-xs-12 col-lg-4">
							  <div class="card" style="background-color: white">
								<div class="card-header">
								  <h3 style="font-size: 60px"><span class="currency">R$</span>136,00</h3>
								</div>
								<div class="card-block">
								  <ul class="list-group">
									<li class="list-group-item"><b> ESTUDANTE DE ENSINO TÉCNICO OU MÉDIO </b></li>
								  </ul>
								  <a href="/cadastro" class="btn" sec:authorize="!isAuthenticated()">Quero me inscrever</a>
								</div>
							  </div>
							</div>

							<!-- Regular Plan  -->
							<div class="col-xs-12 col-lg-4">
							  <div class="card" style="background-color: white">
								<div class="card-header">
								  <h3 style="font-size: 60px"><span class="currency">R$</span>178,00</h3>
								</div>
								<div class="card-block">
								  <ul class="list-group">
									<li class="list-group-item"><b> ESTUDANTE DE GRADUAÇÃO </b></li>
								  </ul>
								  <a href="/cadastro" class="btn" sec:authorize="!isAuthenticated()">Quero me inscrever</a>
								</div>
							  </div>
							</div>

							<!-- Premium Plan  -->
							<div class="col-xs-12 col-lg-4">
							  <div class="card" style="background-color: white">
								<div class="card-header">
								  <h3 style="font-size: 60px"><span class="currency">R$</span>184,00</h3>
								</div>
								<div class="card-block">
								  <ul class="list-group">
									<li class="list-group-item"><b> PROFESSOR DA EDUCAÇÃO BÁSICA </b></li>
								  </ul>
								  <a href="/cadastro" class="btn" sec:authorize="!isAuthenticated()">Quero me inscrever</a>
								</div>
							  </div>
							  <br>
							</div>

							<!-- Premium Plan  -->
							<div class="col-xs-12 col-lg-4">
							  <div class="card" style="background-color: white">
								<div class="card-header">
								  <h3 style="font-size: 60px"><span class="currency">R$</span>190,00</h3>
								</div>
								<div class="card-block">
								  <ul class="list-group">
									<li class="list-group-item"><b> ESTUDANTE DE PÓS-GRADUAÇÃO </b></li>
								  </ul>
								  <a href="/cadastro" class="btn" sec:authorize="!isAuthenticated()">Quero me inscrever</a>
								</div>
							  </div>
							</div>

							  <!-- Premium Plan  -->
							<div class="col-xs-12 col-lg-4">
							  <div class="card" style="background-color: white">
								<div class="card-header">
								  <h3 style="font-size: 60px"><span class="currency">R$</span>235,00</h3>
								</div>
								<div class="card-block">
								  <ul class="list-group">
									<li class="list-group-item"><b> PROFESSOR DE ENSINO SUPERIOR/PROFISSIONAIS </b></li>
								  </ul>
								  <a href="/cadastro" class="btn" sec:authorize="!isAuthenticated()">Quero me inscrever</a>
								</div>
							  </div>
							</div>

						  </div>
						</div>

					  </section>

					<!-- divider -->
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="solidline">
								</div>
							</div>
						</div>
					</div>
					<!-- end divider -->

					<!-- Portfolio Projects -->
					<div class="container marginbot50">
						<div class="row">
							<div class="col-lg-12">
								<center><h4 class="heading">Fique por dentro! Algumas datas importantes.</h4></center>

								<div id="grid-container" class="cbp-l-grid-projects">
									<ul>
										<li class="cbp-item graphic">
											<div class="cbp-caption">
												<div class="cbp-caption-defaultWrap">
													<center><img src="../static/img/works/1.jpg" alt=""/></center>
												</div>
											</div>
											<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE SUBMISSÃO DE TRABALHOS</div>
											<div class="cbp-l-grid-projects-desc">26 de setembro de 2019</div>
											</center>
										</li>
										<li class="cbp-item web-design logo">
											<div class="cbp-caption">
												<div class="cbp-caption-defaultWrap">
													<img src="../static/img/works/2.jpg" alt="" />
												</div>
											</div>
											<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE DIVULGAÇÃO DE TRABALHOS</div>
											<div class="cbp-l-grid-projects-desc">08 de outubro de 2019</div>
											</center>
										</li>
										<li class="cbp-item graphic logo">
											<div class="cbp-caption">
												<div class="cbp-caption-defaultWrap">
													<img src="../static/img/works/3.jpg" alt="" />
												</div>
											</div>
											<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE SUBMISSÃO DE E-BOOK</div>
											<div class="cbp-l-grid-projects-desc">01 de outubro de 2019</div>
											</center>
										</li>
										<li class="cbp-item web-design graphic">
											<div class="cbp-caption">
												<div class="cbp-caption-defaultWrap">
													<img src="../static/img/works/4.jpg" alt="" />
												</div>
											</div>
											<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE PAGAMENTO DE INSCRIÇÃO</div>
											<div class="cbp-l-grid-projects-desc">14 de outubro de 2019</div>
											</center>
										</li>
										<li class="cbp-item identity web-design">
											<div class="cbp-caption">
												<div class="cbp-caption-defaultWrap">
													<img src="../static/img/works/5.jpg" alt="" />
												</div>
											</div>
											<center>
											<div class="cbp-l-grid-projects-title">PRAZO DE INSCRIÇÃO PARA MONITORIA</div>
											<div class="cbp-l-grid-projects-desc">27 de março de 2019</div>
											</center>
										</li>
										<li class="cbp-item identity web-design">
											<div class="cbp-caption">
												<div class="cbp-caption-defaultWrap">
													<img src="../static/img/works/6.jpg" alt="" />
												</div>
											</div>
											<center>
											<div class="cbp-l-grid-projects-title">PRAZO PARA ENVIO DE TRABALHOS AVALIADOS COMO "CORREÇÃO"</div>
											<div class="cbp-l-grid-projects-desc">26 de setembro de 2019</div>
											</center>
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>


					<!-- divider -->
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="solidline">
								</div>
							</div>
						</div>
					</div>
					<!-- end divider -->

					<!-- clients -->
					<center><h4 class="heading">Parcerias</h4></center>
					<div class="container">
						<div class="row">
							<div class="col-xs-6 col-md-2 aligncenter client">
								<img alt="logo" src="../static/img/clients/logo1.png" class="img-responsive" />
							</div>

							<div class="col-xs-6 col-md-2 aligncenter client">
								<img alt="logo" src="../static/img/clients/logo2.png" class="img-responsive" />
							</div>

							<div class="col-xs-6 col-md-2 aligncenter client">
								<img alt="logo" src="../static/img/clients/logo3.png" class="img-responsive" />
							</div>

							<div class="col-xs-6 col-md-2 aligncenter client">
								<img alt="logo" src="../static/img/clients/logo4.png" class="img-responsive" />
							</div>

							<div class="col-xs-6 col-md-2 aligncenter client">
								<img alt="logo" src="../static/img/clients/logo5.png" class="img-responsive" />
							</div>
							<div class="col-xs-6 col-md-2 aligncenter client">
								<img alt="logo" src="../static/img/clients/logo6.png" class="img-responsive" />
							</div>

						</div>
					</div>

				</section>
			<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

			<!-- Placed at the end of the document so the pages load faster -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/modernizr.custom.js"></script>
			<script src="../static/js/jquery.easing.1.3.js"></script>
			<script src="../static/js/bootstrap.min.js"></script>
			<script src="../static/plugins/flexslider/jquery.flexslider-min.js"></script>
			<script src="../static/plugins/flexslider/flexslider.config.js"></script>
			<script src="../static/js/jquery.appear.js"></script>
			<script src="../static/js/stellar.js"></script>
			<script src="../static/js/classie.js"></script>
			<script src="../static/js/uisearch.js"></script>
			<script src="../static/js/jquery.cubeportfolio.min.js"></script>
			<script src="../static/js/google-code-prettify/prettify.js"></script>
			<script src="../static/js/animate.js"></script>
			<script src="../static/js/custom.js"></script>

		</div>
	</body>
</html>
